body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* DASH */

.dashboard {
  display: flex;
}

.no-job-message {
  text-align: center;
  font-size: 18px; /* Adjust size as needed */
  color: #555; /* Optional: adjust color for better visibility */
  margin-top: 20px; /* Optional: add some spacing from the top */
}

/* JOB PANEL */
.job-panel {
  width: 20%;
  background: #f4f4f9;
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
}

.job-item {
  padding: 15px;
  margin: 10px 0;
  background: #ffffff;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 5px;
}

.job-item:hover {
  background: #f0f0f0;
}

.selected {
  background: #e0f7fa;
  border: 1px solid #009688;
}

.job-title {
  font-weight: bold;
  font-size: 16px;
}

.view-candidates {
  font-size: 14px;
  color: #00796b;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.view-candidates .arrow {
  font-weight: bold;
  margin-left: 4px;
}

.add-job {
  padding: 15px;
  margin: 10px 0;
  background: #e0f7fa;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: 1px dashed #009688;
  transition: background 0.3s ease;
  border-radius: 5px;
}

.add-job:hover {
  background: #b2ebf2;
}

.add-icon {
  font-size: 20px; /* Style for the icon */
  margin-right: 5px; /* Space between icon and text */
}

.blur {
  filter: blur(3px);
  transition: filter 0.3s ease;
}

/* ADD JOB POPUP */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup.large-popup {
  width: 500px; /* Increased width */
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.advanced-options {
  margin-top: 20px;
  margin-inline: 10px;
}

.keyword-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.keyword-input {
  display: flex;
  gap: 8px; /* Space between input and button */
  margin-bottom: 12px; /* Space below the input section */
}

.star-icon {
  cursor: pointer; /* Change cursor to pointer for the star icon */
  margin-right: 8px; /* Space between star and keyword text */
  color: gold; /* Color of the star */
}

.keyword-item {
  display: flex;
  align-items: center;
  margin: 4px 0; /* Space between keyword items */
  padding: 4px; /* Padding around each keyword */
  border: 1px solid #ccc; /* Border around keywords */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.remove-keyword, .important-keyword {
  border: none;
  background: transparent;
  cursor: pointer;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.popup h2 {
  margin: 0 0 10px;
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popup input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.popup button {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button[type="submit"] {
  background-color: #da8dae;
  color: white;
}

.popup button[type="button"] {
  background-color: #ccc;
}

.popup textarea{
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.popup h2 {
  text-align: center;
}

.keyword-input input{
  margin-bottom: 0;
}

.keyword-input button{
  margin: 0;
}

/* SORT & FILTER */

.sort-filter-panel {
  background-color: #fff4e8; /* Light background for the panel */
  border: 1px solid #ddd; /* Border around the panel */
  padding: 16px; /* Spacing inside the panel */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.sort-filter-panel h3 {
  margin-bottom: 8px; /* Space below headings */
}

.sort-filter-panel select,
.sort-filter-panel button {
  margin: 4px 8px 4px 0; /* Spacing between elements */
  padding: 8px; /* Padding inside select and button */
  border-radius: 4px; /* Rounded corners for inputs */
  border: 1px solid #ccc; /* Border for inputs */
  cursor: pointer; /* Pointer cursor for buttons */
}

.sort-filter-panel button:hover {
  background-color: #7acec1; /* Change background on hover */
  color: white; /* Change text color on hover */
}

/* CARD TOGGLE */

.view-toggle {
  text-align: right; /* Aligns the toggle button to the right */
  margin-block: 10px; /* Adds some space below the toggle button */
}

.toggle-button {
  padding: 10px 15px;
  background-color: #da8dae; /* Button color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.toggle-button:hover {
  background-color: #993a58; /* Darker shade on hover */
}

/* NO SELECTION */

.no-job-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px); /* Adjust based on header/footer size */
  color: #666; /* Soft text color */
  text-align: center;
}

.no-job-selected h2 {
  font-size: 24px;
  font-weight: 500; /* Medium weight for better visibility */
  margin: 0;
}

/* CONTENT */
.main-content {
  width: 80%;
  padding: 10px;
}

.profile-item, .profile-card {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

/* CARD VIEW */

.profile-card-view {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: left;
}

.profile-card {
  width: 30%; /* Allows three cards per row */
  height: 200px;
  perspective: 1000px; /* Enables 3D perspective */
  cursor: pointer;
  
}

.profile-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card-front {
  background-color: #fff;
  color: #333;
}

.card-back {
  background-color: #f7f7f7;
  color: #555;
  transform: rotateY(180deg); /* Position back side */
}

.card-back button {
  background-color: #da8dae;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.card-back button:hover {
  background-color: #993a58;
}

/* LIST VIEW */

.profile-list-view {
  width: 100%; /* Full width of the container */
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

table {
  width: 100%;
  border-collapse: collapse; /* Removes space between cells */
}

th, td {
  padding: 12px; /* Padding for cells */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
}

th {
  background-color: #f4ebf7; /* Light background for header */
}

.summary-cell {
  max-width: 200px; /* Set max width for summary cell */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis */
  white-space: nowrap; /* Prevent line breaks */
}
.resume-cell {
  padding-left: 35px;
}
.resume-icon {
  font-size: 20px; /* Adjust the icon size */
  color: #c083d7; /* Icon color */
  cursor: pointer; /* Change cursor to pointer */
}

